body{

font-family: Arial, sans-serif;
margin:0;
background:#f4f6f8;
color:#1c1c1c;

}


/* NAVBAR */

.navbar{

position:fixed;
top:0;
left:0;
width:95%;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

background:transparent;

transition:0.3s;

z-index:1000;

}

.navbar nav a{

margin:0 15px;
text-decoration:none;
color:white;
font-weight:500;

}

.logo{

font-size:20px;
font-weight:bold;
color:white;

}

.panel-btn{

background:#0f9d6a;
color:white;
border:none;
padding:10px 18px;
border-radius:20px;
cursor:pointer;

}


/* NAVBAR AL HACER SCROLL */

.navbar.scrolled{

background:white;
box-shadow:0 3px 10px rgba(0,0,0,0.1);

}

.navbar.scrolled nav a{

color:#333;

}

.navbar.scrolled .logo{

color:#222;

}



/* HERO */

.hero{

padding:140px 80px 80px 80px;

display:flex;

background:linear-gradient(135deg,#0c5c3f,#0a7d52);

color:white;

}


.hero-left{

flex:1;

}

.hero-left h1{

font-size:56px;

}

.hero-left span{

color:#5ce2b4;

}

.hero-right{

flex:1;
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:20px;

}

.badge{

background:rgba(255,255,255,0.15);
padding:6px 15px;
border-radius:20px;
display:inline-block;

}

.hero-buttons{

margin-top:20px;

}

.primary{

background:white;
border:none;
padding:12px 25px;
border-radius:30px;

}

.secondary{

background:transparent;
border:1px solid white;
color:white;
padding:12px 25px;
border-radius:30px;

}



/* STATS */

.stats{

display:flex;
gap:15px;

}

.stat-box{

background:rgba(255,255,255,0.08);
padding:15px;
border-radius:12px;
flex:1;
text-align:center;

}


/* CHART */

.chart{

margin-top:30px;

display:flex;
align-items:flex-end;

height:150px;

gap:8px;

}

.bar{

width:20px;
background:#50e3a4;
border-radius:4px;

}



/* METRICS */

.metrics{

display:flex;
justify-content:space-around;
padding:50px;

background:#0f5f41;
color:white;

}



/* FEATURES */

.features{

text-align:center;
padding:80px 20px;

}

.features span{

color:#0f9d6a;

}

.feature-list{

list-style:none;
margin-top:30px;

}

.feature-list li{

margin:10px 0;

}



/* BLOG */

.blog{

padding:80px;

}

.blog-header{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:40px;

}

.blog-grid{

display:grid;
grid-template-columns:repeat(3,1fr);

gap:30px;

}

.card{

background:white;
border-radius:12px;

overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,0.05);

}

.card-image{

height:150px;

background:linear-gradient(#bfe5d3,#e6f5ef);

}

.card-body{

padding:20px;

}

.tag{

background:#e3ebff;
padding:5px 10px;
border-radius:10px;
font-size:12px;

}

.green{

background:#dff5e9;

}



/* FOOTER */

.footer{

background:#021524;
color:white;

padding:60px;

}

.footer-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;

}